  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
      <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
      <script>
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyBNN3izvd_eVexM1c0Fl2WZCJK20MvHnsU",
          authDomain: "stanleythebot-8c6b0.firebaseapp.com",
          databaseURL: "https://stanleythebot-8c6b0.firebaseio.com",
          storageBucket: "stanleythebot-8c6b0.appspot.com",
          messagingSenderId: "499020982163"
        };
        firebase.initializeApp(config);
      </script>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <nav>
        <div class="nav-wrapper">
          <a href="#"><img src="{{ url_for('static', filename='img/logom.png') }}" width="40" style="margin-left: 2em"></a>
        </div>
      </nav>
      <div class="body_wrapper">
        <div class="row">
          <!-- some intro and info from the bot -->
          <div class="col s12 m6 l6" id="bot_talk">
            {% block bot %} {% endblock %}
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l6 offset-m6 offset-l6" id="user_talk">
            <!-- ask user to upload image -->
            {% block user %} {% endblock %}
          </div>
        </div>

        <div id="ranking">
          {# show some ranking for the categories found in images
          {% block ... %} {% endblock %} #}
        </div>

      </div> <!-- end body_wrapper -->
    </body>
    <script>
    $(document).ready(function() {
      // set up text to print, each item in array is new line
      var aText = new Array(document.getElementById('bot_say').innerHTML
      );
      var iSpeed = 100; // time delay of print out
      var iIndex = 0; // start printing array at this posision
      var iArrLength = aText[0].length; // the length of the text array
      var iScrollAt = 20; // start scrolling up at this many lines

      var iTextPos = 0; // initialise text position
      var sContents = ''; // initialise contents variable
      var iRow; // initialise current row

      function typewriter()
      {
      sContents =  ' ';
      iRow = Math.max(0, iIndex-iScrollAt);
      var destination = document.getElementById("typewriter");

      while ( iRow < iIndex ) {
      sContents += aText[iRow++] + '<br />';
      }
      destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_";
      if ( iTextPos++ == iArrLength ) {
      iTextPos = 0;
      iIndex++;
      if ( iIndex != aText.length ) {
       iArrLength = aText[iIndex].length;
       setTimeout("typewriter()", 500);
      }
      } else {
      setTimeout("typewriter()", iSpeed);
      }
      }
      typewriter()
    })
    </script>
  </html>
