{% extends "index.html" %}

{% block chat_interface %}
{{super()}}
<div class="row">
  <div class="col s12 m6 l6 offset-m6 offset-l6">
    <div class="row">
      <div class="col s12 m6 l6 offset-m6 offset-l6">
        <div class="card-panel red lighten-2">
          <span id="user_say" class="white-text">{{user_name}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m5">
    <div class="card-panel red lighten-2">
      <span id="bot_say" class="white-text">Hi {{user_name}}, I can tell you the contents of a photo. Give me a photo to try.
      </span>
    </div>
  </div>
</div>

{% block user_input %}
<div class="row">
  <div class="col s12 m6 l6 offset-m6 offset-l6">
    <form action="analyze" method="post" enctype=multipart/form-data>
      <div class="file-field input-field">
          <input type="file" name="img_to_process" id="img_to_process" accept="image/*">
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Pick a photo">
        </div>
        <div id="loader" class="progress hide">
          <div class="indeterminate"></div>
      </div>
        <input class="hide" id="hiddenUrl" name="hiddenUrl" type="text">
      </div>
      <button class="btn waves-effect waves-light disabled" id="analyize" type="submit" name="action"><i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
{% endblock %}

<script>
    //get element
    var imageSubmit = document.getElementById('img_to_process')
    //when image is chosen
    imageSubmit.addEventListener('change', e => {
      //get the image chosen
      image = e.target.files[0]
      //reference to firebase storage
      var storageRef = firebase.storage().ref('images/')
      if (storageRef.child(image.name)) {
        //show loading animation
        document.getElementById('loader').classList.remove('hide')
        storageRef.child(image.name).getDownloadURL().then(e => {
          document.getElementById('hiddenUrl').value = e
          //make button clickable
          document.getElementById('analyize').classList.remove('disabled')
          document.getElementById('loader').classList.add('hide')
        })
      }
      else {
        //upload chosen image to firebase storage
        uploadTask = imageRef.put(image)
        //while the image is uploading
        uploadTask.on('state_changed', snapshot => {
          //show loading animation
          document.getElementById('loader').classList.remove('hide')
          //get upload status
          var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          //when upload is done
          if (progress == 100) {
            //remove the loading animation
            document.getElementById('loader').classList.add('hide')
          }
        },
        error => {//if there's an error
        },//what to do when upload is done
          function() {
            console.log("done uploading");
            //add the URL to the image to the hidden input
            document.getElementById('hiddenUrl').value = uploadTask.snapshot.downloadURL
            //make button clickable
            document.getElementById('analyize').classList.remove('disabled')
          })
        }
    })
    //show processing
    document.getElementById('analyize').addEventListener('click', function() {
      document.getElementById('processing').classList.remove('hide')
    });
    $('document').ready(Materialize.toast('1 minute / name', 3000))
</script>
{% endblock %}

{% block example%}
<div class="example">
  <div class="row">
    <div class="col s12 m4 l4">
      <div class="card">
       <div class="card-image">
         <img src="{{ url_for('static', filename='img/blackguy.jpg') }}">
         <span class="card-title"></span>
       </div>
       <div class="card-content">
         <p>I can see a young guy in this photo.</p>
       </div>
     </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
       <div class="card-image">
         <img src="{{ url_for('static', filename='img/barrackobama.jpg') }}">
         <span class="card-title"></span>
       </div>
       <div class="card-content">
         <p>I can see Barack Obama in this photo.</p>
       </div>
     </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
       <div class="card-image">
         <img src="{{ url_for('static', filename='img/computer.jpg') }}">
         <span class="card-title"></span>
       </div>
       <div class="card-content">
         <p>Here's what I see this photo: computer, machine, device.</p>
       </div>
     </div>
    </div>
  </div>
</div>
{% endblock %}
