{% extends "index.html" %}

{% block chat_interface %}
{{super()}}
<div class="row">
  <div class="col s12 m6 l6 offset-m6 offset-l6" id="user_talk">
    <form action="get_user_name" method="post" enctype="multipart/form-data">
      <div class="input-field col s12">
        <input name="user_name" placeholder="" id="user_name" type="text" class="validate tooltipped" data-position="top" data-delay="50" data-tooltip="10 minute / name">
        <label id="time_of_the_day"></label>
        <button class="btn waves-effect waves-light disabled" id="send_user_name" type="submit" name="action"><i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
