{% extends "index.html" %}

{% block intro %}
<div class="typewriter">
  <h1 class="center-align">Hi, I'm Stanley</h1>
</div>
{% endblock %}

{% block button %}
<form action="analyze" method="post" enctype=multipart/form-data>
  <div class="file-field input-field">
    <div class="btn">
      <span>Show me your photo</span>
      <input type="file" name="img_to_process" id="img_to_process" accept="image/*">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="I can understand JPEG and PNG type photos">
    </div>
    <div id="loader" class="progress hide">
      <div class="indeterminate"></div>
  </div>
    <input class="hide" id="hiddenUrl" name="hiddenUrl" type="text">
  </div>
  <button class="btn waves-effect waves-light disabled" id="analyize" type="submit" name="action">Analyize
    <i class="material-icons right">send</i>
  </button>
</form>
{% endblock %}
