{% extends "index.html" %}

{% block bot %}
<div class="typewriter">
  <h5 id="bot_say" class="left-align">Hi, I'm Stanley. What's your name?</h5>
</div>
{% endblock %}

{% block user %}
<form action="get_user_name" method="post" enctype="multipart/form-data">
  <div class="input-field col s12">
    <input disabled name="user_name" placeholder="" id="user_name" type="text" class="validate">
    <label id="time_of_the_day"></label>
    <button class="btn waves-effect waves-light disabled" id="send_user_name" type="submit" name="action"><i class="material-icons right">send</i>
    </button>
  </div>
</form>
<script>
  //show current time on top of user input
  show_time = document.getElementById('time_of_the_day')
  d = new Date()
  show_time.innerHTML = d.getHours() + " : " + d.getMinutes()
  //try not to reload page

  //activate button
  input = document.getElementById('user_name')
  input.addEventListener('change', function() {
    if (input.value != "") {
      document.getElementById('send_user_name').classList.remove('disabled')
    }
    else {
      document.getElementById('send_user_name').classList.add('disabled')
      $.post({
          url: "{{ url_for("get_user_name") }}",
          success: function(data) {
              console.log(data);
          },
          error: function() { console.log("Error", arguments); }
      });
    }
  })
</script>
{% endblock %}
